@import "bourbon";
@import "font-awesome";

body {
  padding: 20px;
  background: #c9ddff;
  color: #133670;

  li {
    list-style-type: none;

    img {
      max-width: 150px;
      padding-bottom: 20px;
    }
  }
}
